body{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	background-color: orange;
}
ul{
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
	padding-left: 0;
}

.logo {
	width: 100px;
	margin-top: 20px;
	margin-left: 100px;
}
.navigation-a{
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	display: inline-block;
	text-decoration: none;
}
.navigation{
	margin-left: 100px;
	margin-top: 20px;
}
.banner-section{
	margin-left: 100px;
	margin-top: 20px;
}
.title{
	/*margin-top:30px;*/
	/*margin-left: :30px;*/
	/*margin:30px auto auto 30px;*/
	font-size: 30px;
	color: white;
	/*margin:30px;*/

}
.par{
	margin-top: 30px;
}
.wrapper{
	margin:30px auto auto 30px;
}
.image{
	margin-top: 30px;
	width: 400px;
}